  
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Poppins:wght@100;200;300;400;500;600;900&family=Raleway:wght@200&display=swap');

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;

}

.header{
    height: 38px;
    padding-bottom: 5%;
}

nav{
    margin-top: 2%;
    padding-bottom: 5%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}


nav>a{
    margin-left: 5%;
    text-decoration: none;
    color:grey;
    font-size: 30px;
}

li{
    list-style: none;
    display: none;
}

.hamburger {
    /* display: none; */
    margin-left: 85%;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

#about{
    background-image: url('../assets/hero-bg.jpg');
    background-size: cover;
    height: 100%;
    margin-left: auto;

}

#about>h1{
    padding-top: 8%;
    font-size: 35px;
    font-weight: lighter;
    color: white;
    border-bottom: 10px solid white;
    padding-bottom: 3%;
    margin-right: 60%;
}

#about>h1>span{
    font-size: 70px;
    font-weight: 700;
}
#about>h1,div{
    margin-left: 5%;
}

#about>div{
    flex-wrap: wrap;
    display: flex;
    margin-right: 48%;
    padding-right: 10%;
    color: white;
}

#about>div>h3{
    font-weight: lighter;
    padding-top: 2%;

}
#about>.images{
    padding-top: 2%;
    /* margin-bottom: 10%; */
    padding-bottom: 5%;

}

#serve{
    text-align: center;
    padding-top: 10%;
    margin-bottom: 7%;
    background-color: #F1F1F1;
    margin-left: auto;
    padding-bottom: 7%;
}

#serve>h1{
    font-size: 50px;
}

#serve>p{
    line-height: 30px;
    font-size: 20px;
}
#serve>button{
    background-color: red;
    border-style: none;
    padding: 16px 36px;
    color: white;
    font-weight: bold;
    margin-top: 3.5%;
    /* padding-bottom: ; */
}

#services{
    display: flex;
    padding-top: 5%;
    padding-bottom: 8%;
    flex-wrap: wrap;

}

#services>.one>p{
    padding-left: 7%;
    padding-top: 7%;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
}

#services>.two>h3{
    padding-top: 5%;
    font-size: 35px;

}

#services>.two>h4{
    font-size: 24px;
    color: red;
}


#quality{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(219, 216, 223, 1);
    margin-left: auto;
}

#quality>img{
    margin-left: 5%;
}
#quality>div{
    margin-top: 10%;
    margin-bottom: 10%;
}

#quality>div>h1{
    color: #1B3493;
    font-size: 60px;
    padding-bottom: 35px;
    border-bottom: 10px solid red;
}

#quality>div>p{
    line-height: 30px;
    font-size: 20px;
}

#quality>div>button{
    background-color: red;
    border-style: none;
    padding: 16px 36px;
    color: white;
    font-weight: bold;
    margin-top: 3.5%;
    /* margin-bottom:30%; */
}


.services>h1{
    font-size: 40px;
    font-weight: bolder;
    margin-left: 9%;
    margin-top: 8%;
}

.services>.icons{
    display: flex;
    margin-left: 5%;
    /* margin-right: 5%; */
    margin-top: 5%;
}

.services>.icons>div>h3{
    font-size: 28px;
    font-weight: bold;
}

.services>.icons>div>p{
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
}

.me{
    margin-top: 7%;
    background-color: #1B3493;
    display: flex;
    /* margin-left: auto; */
    padding-left: 2%;
    color: white;
}

.me>:nth-child(1){
    padding-top: 12%;
    padding-left: 5%;

}

.me>:nth-child(1)>p{
    font-size: 25px;
    font-weight: normal;
}

.me>:nth-child(1)>h1{
    font-size: 70px;
    /* font-weight: bolder; */
}

.me>:nth-child(1)>h1>span{
    font-weight: 900;
    font-weight: bolder;
    font-size: 85px;

}

.me>.img{
    display: flex;
    flex-direction: column;
    padding-top: 6%;
    padding-bottom: 6%;
    justify-content: space-between;
}


.last{
    text-align: center;
    padding-top: 8%;
}

.last>h3{
    padding-bottom: 5%;
    font-size: 36px;
    font-family: Roboto, sans-serif;
}

.last>p{
    font-size: 30px;
    word-spacing: 3px;
    line-height: 120%;
    font-family: 'Open Sans', sans-serif;
    /* font-weight: lighter; */

}

.last>.btn{
    background-color: red;
    border-style: none;
    padding: 18px 36px;
    color: white;
    font-weight: bold;
    margin-top: 3.5%;
}


.last>.btn2{
    background-color:white;
    border-style: 1px solid black;
    padding: 16px 36px;
    font-weight: bold;
    margin-top: 3.5%;
    margin-left: 1%;
}

footer{
    background-color: black;
    margin-top: 8%;
    color: white;
    text-align: center;
}

footer>:nth-child(1){
    padding-top: 5%;
    padding-bottom: 5%;
}

footer>:nth-child(2){
    padding-bottom: 3%;
}

footer>:nth-child(2)>a{
    color: blue;
}

/* notepad media query */

@media only screen and (min-width:768px){

  #serve{
    width: 50vh;
    margin-right: 30%;
}
    nav{
        width: 768px;
        height: 80px;
        padding-left: 5%;
        display: flex;
        padding-right: 25%;
    }    
    
    nav>div{
        margin-top: -25%;
    }
    nav>a{
        margin-bottom: 10%;
    }

    .last{
        margin-bottom: 90px;
        margin-top: 10px;
        width: 67vw;
    }

    .last>h3,p{
        padding-bottom: 10%;
    }

    footer{
        margin-bottom: 90px;
        margin-top: 10px;
        width: 67vw;
    }

    .me{
        margin-bottom: 90px;
        margin-top: 10px;
        width: 67vw;
        display: flex;
        flex-direction: column;
    }

    .me>.img>div>img{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
        height: 350px;
        width: 300px;
        justify-content: space-between;
    }

    #about{
       
        background-position: 80% top;
        /* background-position: right; */
    
        margin-bottom: 90px;
        margin-top: 10px;
        width: 100vw;
        margin-right: 20%;
    
    }


    #about>h1{
        padding-bottom: 5%;
        padding-top: 20%;
        margin-bottom: 20%;
    }
    /* #about>h1>div{
       margin-left: 12%;
    } */


    #about>.images{
        display: none;
        /* flex-direction: row; */
        
    }

    .services>.icons{
        width: 50vh;
        height: 30%;
        display: flex;
        flex-direction: row;
        padding-bottom: 20%;
      
    }
}








/* phone media query */
@media only screen and (min-width: 360px) {
    body {
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
    }
    nav{
        display: flex ;
        width: 360px;
        padding-bottom: 5%;
        padding-left: 10%;
        height: 80px;
    }
     nav>div{
         margin-left: 50%;
         margin-bottom: -20%;

     }

    /* .me{
        display: flex;
        flex-direction:column ;
        margin-top: 50%;
    } */

    .me{
        margin-bottom: 90px;
        margin-top: 10px;
        width: 100vw;
        font-size: 2rem;
    }

    .me>.f{
        font-size: 20px;
        /* width: 50vh; */
        padding-right: 0;
        padding-left: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .services>.icons{
        display: flex;
        flex-direction: column;
    }

    .hamburger {
        margin-left: 49%;
    }

    #services>div{
        margin: 15% 15%;
    }

    #services>div>img{
        height:70%;
        width: 70%;
    }

    #services>.two{
        padding-bottom: 30%;
        padding-top: 10%;
    }

    #services>div>img{
        height: 70%;
        width: 70%;
    }

    #quality>img{
        align-items: center;
        align-content: flex-start;
    }

    .last{
        padding: 2% 5%;
        text-align: center;
    }

    .last>h3>p{
        padding-bottom: 15%;
    }
    
  }