.header{
    height: 38px;
}

nav{
    margin-top: 2%;
    margin-bottom: 1%;
    display: flex;
    align-items: center;
}


nav>a{
    margin-left: 5%;
    text-decoration: none;
    color:grey;
    font-size: 30px;
}

li{
    list-style: none;
    display: none;
}

.hamburger {
    /* display: none; */
    margin-left: 85%;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

#about{
    background-image: url('../assets/hero-bg.jpg');
    background-size: cover;
    height: 100%;
    margin-left: auto;

}

#about>h1{
    padding-top: 8%;
    font-size: 35px;
    font-weight: lighter;
    color: white;
    border-bottom: 10px solid white;
    padding-bottom: 3%;
    margin-right: 60%;
}

#about>h1>span{
    font-size: 70px;
    font-weight: 700;
}
#about>h1,div{
    margin-left: 5%;
}

#about>div{

    display: flex;
    margin-right: 48%;
    padding-right: 10%;
    color: white;
}

#about>div>h3{
    font-weight: lighter;
    padding-top: 2%;

}
#about>.images{
    padding-top: 2%;
    /* margin-bottom: 10%; */
    padding-bottom: 5%;

}

#serve{
    text-align: center;
    padding-top: 10%;
    margin-bottom: 7%;
    background-color: #F1F1F1;
    /* background-size: cover; */
    /* width: 99%; */
    /* margin-right: 5%; */
    margin-left: auto;
    padding-bottom: 7%;
}

#serve>h1{
    font-size: 50px;
}

#serve>button{
    background-color: red;
    border-style: none;
    padding: 16px 36px;
    color: white;
    font-weight: bold;
    margin-top: 3.5%;
    /* padding-bottom: ; */
}

#services{
    display: flex;
    padding-top: 5%;
    padding-bottom: 8%;
}

#services>.one>p{
    padding-left: 7%;
    padding-top: 7%;
}

#services>.two>h3{
    padding-top: 5%;
    font-size: 35px;

}

#services>.two>h4{
    font-size: 24px;
    color: red;
}


#quality{
    display: flex;
    background-color: rgba(219, 216, 223, 1);
    margin-left: auto;
}

#quality>img{
    margin-left: 5%;
}
#quality>div{
    margin-top: 10%;
    margin-bottom: 10%;
}

#quality>div>h1{
    color: #1B3493;
    font-size: 60px;
    padding-bottom: 35px;
    border-bottom: 10px solid red;
}

#quality>div>p{
    line-height: 30px;
    font-size: 20px;
}

#quality>div>button{
    background-color: red;
    border-style: none;
    padding: 16px 36px;
    color: white;
    font-weight: bold;
    margin-top: 3.5%;
    /* margin-bottom:30%; */
}


.services>h1{
    font-size: 40px;
    font-weight: bolder;
    margin-left: 9%;
    margin-top: 8%;
}

.services>.icons{
    display: flex;
    margin-left: 5%;
    /* margin-right: 5%; */
    margin-top: 5%;
}

.services>.icons>div>h3{
    font-size: 28px;
    font-weight: bold;
}

.services>.icons>div>p{
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
}

.me{
    margin-top: 7%;
    background-color: #1B3493;
    display: flex;
    /* margin-left: auto; */
    padding-left: 2%;
    color: white;
}

.me>:nth-child(1){
    padding-top: 12%;
    padding-left: 5%;

}

.me>:nth-child(1)>p{
    font-size: 25px;
    font-weight: normal;
}

.me>:nth-child(1)>h1{
    font-size: 70px;
    /* font-weight: bolder; */
}

.me>:nth-child(1)>h1>span{
    font-weight: 900;
    font-weight: bolder;
    font-size: 85px;

}

.me>.img{
    display: flex;
    flex-direction: column;
    padding-top: 6%;
    padding-bottom: 6%;
    justify-content: space-between;
}


.last{
    text-align: center;
    padding-top: 8%;
}

.last>h3{
    font-size: 36px;
    font-family: Roboto, sans-serif;
}

.last>p{
    font-size: 30px;
    word-spacing: 3px;
    line-height: 120%;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

.last>.btn{
    background-color: red;
    border-style: none;
    padding: 18px 36px;
    color: white;
    font-weight: bold;
    margin-top: 3.5%;
}


.last>.btn2{
    background-color:white;
    border-style: 1px solid black;
    padding: 16px 36px;
    font-weight: bold;
    margin-top: 3.5%;
    margin-left: 1%;
}

footer{
    background-color: black;
    margin-top: 8%;
    color: white;
    text-align: center;
}

footer>:nth-child(1){
    padding-top: 5%;
    padding-bottom: 5%;
}

footer>:nth-child(2){
    padding-bottom: 3%;
}

footer>:nth-child(2)>a{
    color: blue;
}